@font-face {
    font-family: Title;
    src: url('assets/font/SVN-A-Love-Of-Thunder.ttf');
}

@font-face {
    font-family: Normal;
    src: url('assets/font/FS\ Diavlo\ Medium.ttf');
}

@font-face {
    font-family: NavBar;
    src: url('assets/font/FS-ClanPro-NarrowUltra.ttf');
}

:root {
    --white-theme: rgb(255, 255, 255);
    --brown-theme: rgb(100, 24, 15);
    --light-brown-theme: rgb(224, 166, 111);
    --light-light-brown-theme: rgb(252, 206, 162);
    --dark-theme: rgb(43, 36, 28);
}

a {
    text-decoration: none;
}

body{
    height: auto;
}

.main, .title, .countdownTimer > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-family: Normal, sans-serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    color: var(--dark-theme);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    outline: 0;
    background: var(--brown-theme);
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
}

.main {
    height: 100%;
}

.joinUs:last-child {
    display: none;
}

.navBar {
    font-family: NavBar, sans-serif;
    z-index: 2;
    position: fixed;
    top: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;;
    height: 80px;
}

.navBar::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    background: var(--white-theme);
    transition: ease-in-out 500ms;
}

.navBar.navBarActive::before {
    height: 100%;
    border-bottom: 2px solid var(--brown-theme);
}

.navBar.navBarActive > .joinUs::before {
    height: 100%;
    background: var(--brown-theme);
    color: var(--white-theme);
    transition: linear 300ms;
}

.navBar.navBarActive > .joinUs {
    color: var(--white-theme);
}

.logo {
    height: 80%;
    border-radius: 50px;
    margin-left: 2%;
}

.logo > img {
    height: 100%;
}

.navElements {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--brown-theme);
    border-radius: 50px;
    padding: 10px 36px;
    gap: 25px;
    margin-left: auto;
    background: var(--white-theme);
}

.navElements > .active {
    color: var(--light-brown-theme);
}

.navElements > a {
    text-decoration: none;
    color: var(--brown-theme);
    transition: ease 200ms;
}

.navElements > a:hover {
    text-decoration: underline var(--light-brown-theme) 2px;
}

.navElements > a {
    transform: translateY(1px);
    height: 100%;
}

.joinUs {
    transform: translateX(-1px) translateY(-1px);
    z-index: -1;
    position: relative;
    padding: 12px 15px;
    border-radius: 5px;
    margin: 15px;
    background: var(--light-brown-theme);
    box-shadow: 4px 4px var(--dark-theme);
    color: var(--brown-theme);
}

.joinUs:hover {
    transform: translateX(0px) translateY(0px);
    box-shadow: 3px 3px var(--dark-theme);
}

.joinUs::before {
    z-index: -1;
    transition: ease-out 300ms 200ms;
    position: absolute;
    background: var(--light-brown-theme);
    content: "";
    width: 100%;
    height: 0%;
    border-radius: 5px;
    align-self: center;
    top: 0;
    bottom: 0;
    left: 0;
}

#menu {
    display: none;
    font-weight: bold;
    font-size: 4.5vh;
    background: var(--white-theme);
    padding: 1.5%;
    border-radius: 50px;
    border: 2px solid var(--brown-theme);
}

.main {
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    background: var(--brown-theme);
}

.title, .countdownTimer > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background: url("assets25/hello.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: var(--brown-theme);
    gap: 5vh;
}

.mainTitle {
    filter: drop-shadow(5px 5px 2px);
    font-family: Title, sans-serif;
    font-size: min(10vw, 5rem);
    letter-spacing: -1.6px;
    text-shadow:
    4px 4px 0 var(--light-light-brown-theme),
    -1px -1px 0 var(--light-light-brown-theme),  
    1px -1px 0 var(--light-light-brown-theme),
    -1px 1px 0 var(--light-light-brown-theme),
    1px 1px 0 var(--light-light-brown-theme);
}

.countdownTimer, .title > p {
    font-family: Title, sans-serif;
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    gap: 2vw;
    filter: drop-shadow(3px 3px 1px);
    text-shadow:
    2px 2px 0 var(--light-light-brown-theme),
    -1px -1px 0 var(--light-light-brown-theme),  
    1px -1px 0 var(--light-light-brown-theme),
    -1px 1px 0 var(--light-light-brown-theme),
    1px 1px 0 var(--light-light-brown-theme);
}

.countdownTimer {
    margin-bottom: 40px;
}

.title > p {
    margin: 0px;
    padding: 0px;
    font-size: 2.2rem;
    text-align: center;
    text-wrap: balance;
}

.countdownTimer > span > span:nth-child(2){
    font-size: 1.5rem;
}

.countdownTimer > span > span:nth-child(1) {
    /* font-style: normal; */
    font-size: 3rem;
    filter: drop-shadow(3px 3px 1px);
    text-shadow:
    2px 2px 0 var(--light-light-brown-theme),
    -1px -1px 0 var(--light-light-brown-theme),  
    1px -1px 0 var(--light-light-brown-theme),
    -1px 1px 0 var(--light-light-brown-theme),
    1px 1px 0 var(--light-light-brown-theme);
}

.whiteCanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(1200px, 100vw);
    background: var(--white-theme);
    text-align: center;
    font-size: 1rem;
    padding: 20px 0px;
    color: var(--brown-theme);
    margin-bottom: 30px;
}

.followUs {
    font-family: Title, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    width: 100%;
    background: var(--white-theme);
    font-size: 2rem;
    color: var(--brown-theme);
    column-gap: 60px;
    row-gap: 30px;
}

.followUs > span:nth-child(2) {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.followUs > span:nth-child(2) > a {
    color: var(--brown-theme);
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 300ms ease;
}

.followUs > span:nth-child(2) > a > p {
    margin: 0;
    font-size: 1.4rem;
}

.followUs > span:nth-child(2) > a:hover {
    color: var(--light-brown-theme);
}

@media screen and (max-width: 1100px) {
    .title {
        background-attachment:scroll;
        height: 80%;
        padding-top: calc(80px + 5vh);
    }
}

@media screen and (max-width: 600px) {
    .navBar {
        height: 10vh;
    }
    
    #menu {
        z-index: 2;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        margin-right: 15px;
        margin-top: 1.25vh;
    }
    
    .navElements {
        z-index: 2;
        transition: ease 400ms;
        transform: translateX(300px);
        align-self: flex-start;
        flex-direction: column;
        align-items: flex-start;
        border-top: none;
        border-right: none;
        gap: 2vh;
        padding-top: 40px;
        font-size: min(4vw, 1.3rem);
        background: var(--white-theme);
        border-radius: 0px 0px 0px 5px;
    }
    
    .navElements.navElementsActive {
        transform: translateX(0px);
    }
    
    .joinUs:last-child {
        display: block;
        align-self: center;
        margin: 0;
        font-weight: 600;
        height: 100%;
        background: var(--brown-theme);
        color: var(--white-theme);
    }

    .joinUs:nth-child(3) {
        display: none;
        margin-left: auto;
    }

    .main {
        margin-top: 0px;
    }

    .countdownTimer {
        font-size: 1.5rem;
    }

    .title > p {
        font-size: 1.5rem;
    }
    
    .countdownTimer > span > span:nth-child(1) {
        font-size: 2.5rem;
    }

    .countdownTimer > span > span:nth-child(2){
        font-size: 1.1rem;
    }

    .followUs > span:nth-child(2) > a > p {
        display: none;
    }

}

@keyframes appear {
    0% {
        display: none;
        /* height: 0%; */
        transform: scaleX(0);
    }

    100% {
        display: flex;
        /* height: 100%; */
        transform: scaleX(1);
    }
}

@keyframes disappear {
    0% {
        display: flex;
        /* height: 100%; */
        transform: scaleX(1);
    }
    
    100% {
        display: none;
        opacity: 0;
        /* height: 0%; */
        transform: scaleX(0);
    }
}