.aboutUs {
    font-family: Title, serif;
    width: 80%;
    padding-top: 50px;
    background: var(--white-theme);
    color: var(--brown-theme);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid var(--dark-theme);
    border-left: 5px solid var(--dark-theme);
    border-right: 5px solid var(--dark-theme);
    text-align: center;
}

.aboutUs > p {
    font-family: Normal, serif;
    text-align: left;
    width: 80%;
    color: var(--dark-theme);
    font-size: 1.5rem;
    line-height: 2rem;
}

.aboutUs > div {
    font-family: Normal, serif;
    text-align: center;
    width: 80%;
    color: var(--dark-theme);
    font-size: 2rem;
}

.aboutUs > span {
    font-family: Title, serif;
    background: var(--white-theme);
    color: var(--blue-theme);
    padding-top: 60px;
    width: min(1200px, 100vw);
    border-top: 5px solid var(--dark-theme);
    border-left: 5px solid var(--dark-theme);
    border-right: 5px solid var(--dark-theme);
    margin-top:50px;
}

.aboutUs > span {
    font-size: 3rem;
    letter-spacing: -1px;
}

.generalInfo {
    font-family: Normal, serif;
    text-align: left;
    width: 80%;
    color: var(--dark-theme);
    font-size: 1.5rem;
    line-height: 2rem;
}

pre {
    font-family: Title, serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    margin: 0;
    text-wrap: wrap;
    font-size: 3rem;
    letter-spacing: -1px;
    margin-top: 20px;
}

.generalBenefits {
    font-family: Title, serif;
    width: 100%;
    background: var(--white-theme);
    color: var(--dark-theme);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generalBenefits > span {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.generalBenefits > span > span {
    font-size: 1rem;
    width: 2px;
    height: 500px;
    background: var(--blue-theme);
}

.whitePart {
    background: var(--white-theme);
    padding-top: 60px;
    width: min(1200px, 100vw);
}

.mainRequirements {
    color: var(--white-theme);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: min(1200px, 100vw);
    gap: 40px;
}

.department {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 10px;
    transform: scale(auto);
    background: var(--blue-theme);
    transition: ease 200ms;
}

.subTitle.active {
    width: 100%;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
}

.subDescription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subDescription > span:first-child {
    text-align: center;
    font-family: Title, sans-serif;
    font-size: 3.5rem;
    padding-top: 30px;
}

.subDescription > span:nth-child(2) {
    opacity: 0.8;
}

.subDescription > span:last-child {
    flex-grow: 1;
}

.subDescription > span:last-child::after {
    content: "";
    margin-top: 40px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--white-theme) transparent transparent transparent;
}

.subTitle.active > .subDescription > span:nth-child(2) {
    padding-bottom: 30px;
}

.subTitle.active > .subDescription > span:last-child {
    display: none;
}

.subTitle.active > .subDescription > span:last-child::after {
    display: none;
}

.requirements {
    display: none;
    width: 100%;
    padding: 30px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    color: var(--blue-theme);
    background: var(--white-theme);
    animation: disappear 200ms ease both;
}

.subTitle.active + .requirements {
    display: flex;
    animation: appear 200ms ease both;
}

.department-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children {
  display: none;
  width: 100%;
  padding: 30px 0;
  gap: 40px;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

.subTitle.active + .children {
  display: flex;
  animation: appear 200ms ease both;
}

.children .department .requirements { display: none; }
.children .department .subTitle.active + .requirements { display: flex; animation: appear 200ms ease both; }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
    row-gap: 10px;
}

.container > span {
    font-family: Title, sans-serif;
    font-size: 1.5rem;
}

.container > p {
    text-align: left;
    border: 2px solid var(--blue-theme);
    border-radius: 8px;
    padding: 15px;
    line-height: 1.5rem;
}

.generalBenefits {
    margin-bottom: 40px;
}

.generalBenefits {
    text-align: center;
}

.generalBenefits > span {
    padding-bottom: 40px;
}

.generalBenefits > span > p {
    width: 100%;
    font-family: Normal, serif;
    text-align: left;
    margin: 0;
    color: var(--blue-theme);
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid var(--blue-theme);
}

.generalBenefits > span:last-child {
    padding-top: 50px;
}

.generalBenefits > span:last-child > p {
    text-align: center;
    display: flex;
    text-wrap: balance;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
    border: 0px;
}

.applyNow {
    font-family: navBar, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--white-theme);
    position: relative;
    padding: 12px 15px;
    border-radius: 8px;
    margin: 15px;
    border: 5px solid var(--dark-theme);
    background: var(--blue-theme);
    transition: 200ms ease;
}

.applyNow:hover {
    color: var(--white-theme);
    background: var(--brown-theme);
}

@media screen and (max-width: 1000px) {
    .subTitle {
        flex-direction: column;
        width: min(450px, 90vw);
        align-items: center;
        justify-content: center;
    }

    .subDescription {
        width: 100%;
        height: auto;
    }

    .subTitle.active > .subDescription {
        padding-bottom: 0px;
    }

    .subDescription > span:first-child {
        font-size: 2rem;
    }

    .subDescription > span:last-child::after {
        content: "";
        margin-top: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: var(--white-theme) transparent transparent transparent;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .generalRequirements > span:nth-child(2), .generalBenefits > span {
        flex-direction: column;
        gap: 0px;
    }

    .generalRequirements > span:nth-child(2) > span {
        background: none;
        height: fit-content;
    }
    
    .generalRequirements > span:nth-child(2) > p, .generalBenefits > span > p {
        width: 90%;
    }

    .applyNow {
        font-size: 1.5rem;
    }
}