.aboutUs {
    font-family: Title, serif;
    width: 80%;
    padding-top: 50px;
    background: var(--white-theme);
    color: var(--brown-theme);
    font-size: min(6vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid var(--dark-theme);
    border-left: 5px solid var(--dark-theme);
    border-right: 5px solid var(--dark-theme);
}

.aboutUs > p {
    font-family: Normal, serif;
    text-align: left;
    width: 80%;
    color: var(--dark-theme);
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 10px;
}

.aboutUs > .chuyengiao-center {
    font-family: Normal, serif;
    text-align: center;
    width: 80%;
    color: var(--dark-theme);
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 10px;
    margin-top: 0;
}

.aboutUs > span {
    font-family: Title, serif;
    background: var(--white-theme);
    color: var(--blue-theme);
    padding-top: 60px;
    width: min(1200px, 100vw);
    border-top: 5px solid var(--dark-theme);
    border-left: 5px solid var(--dark-theme);
    border-right: 5px solid var(--dark-theme);
}

pre {
    font-family: Title, serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    margin: 0;
    text-wrap: wrap;
}

.question {
    font-family: Title, serif;
    font-optical-sizing: initial;
    font-stretch: expanded;
    font-style: normal;
    margin: 0;
    text-wrap: wrap;
    font-size: min(4vw, 2rem);
    letter-spacing: -1px;
    color: var(--brown-theme);
}

.achievementsAndImages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.aboutUs > span, .experience {
    font-size: min(4vw, 3rem);
    letter-spacing: -1px;
}
        
.achievementsAndImages > .mainElement > span > img, .achievementsAndImages > .mainElement > span:nth-child(1), .achievementsAndImages > .mainElement > img, .experience > .mainElement, .communication, .fbPost > img {
    border: 2px solid var(--dark-theme);
    border-radius: 8px;
}

.achievementsAndImages > .mainElement, .communication {
    color: var(--dark-theme);
    display: flex;
    align-items: center;
    gap: 15px;
    width: min(900px, 80%);
    height: fit-content;
    margin-bottom: 30px;
    /* font-weight: 500; */
    font-size: 1.25rem;
}

.achievementsAndImages > .mainElement > img, .experience > .mainElement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.achievementsAndImages > .mainElement > img {
    width: 400px;
}

.achievementsAndImages > .mainElement > span:nth-child(1) {
    width: 400px;
    padding: 15px 30px;
    text-align: center;
    height: 100%;
}

.achievementsAndImages > .mainElement > .images {
    gap: 10px;
    width: 400px;
}

.achievementsAndImages > .mainElement > span > p {
    text-align: left;
}

.achievementsAndImages > .mainElement > span > img {
    width: 175px;
}

.achievementsAndImages > .mainElement:nth-child(2n) > span:nth-child(1) {
    order: 1;
}

.signature {
  text-align: right;
  font-family: serif;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
}

.communication {
    height: fit-content;
    width: min(900px, 95%);
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.communication > p:first-child {
    margin-bottom: 0;
}

.communication > p:nth-child(2) {
    font-family: Normal, serif;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 0;    
    margin: 0;
}

.communication > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.communication > div > p {
    font-family: Title, sans-serif;
    font-size: 2rem;
}

.communication > div > span {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.communication > div > span:first-child > .fbPost {
    overflow: hidden;
}

.fbPost > a {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 10px 0;
}

.fbPost > img {
    height: 150px;
}

.communication > div > span:nth-child(8) > a > img {
    height: 300px;
}

.achievementsAndImages > span {
    font-family: Title, serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 50px;
    margin-bottom: 50px;
    letter-spacing: 0px;
}

.experience > .mainElement {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
    word-spacing: normal;
    font-size: 1rem;
    width: 85%;
    padding: 15px;
    /* font-weight: 500; */
}

.experience > .mainElement > span {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-left: 0;
    margin-right: auto;
    gap: 15px;
}

.experience > .mainElement > span > p {
    width: 50%;
}

.experience > .mainElement:nth-child(2n) > span > p {
    order: 1;
}

.experience > .mainElement > span > img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.experience > .mainElement > p {
    font-family: Title, sans-serif;
    width: 100%;
    margin: 0;
    margin-left: 10%;
    font-size: 1.1rem;
}

@media screen and (max-width: 1000px) {
    .aboutUs > p {
        padding: 30px 5%;
    }

    .achievementsAndImages > .mainElement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .achievementsAndImages > .mainElement > .images, .achievementsAndImages > .mainElement > img {
        width: min(80vw, 600px);
    }

    .achievementsAndImages > .mainElement > span:nth-child(1) {
        order: 1;
        width: 90%;
    }
    
    .experience > .mainElement > span > p {
        width: 100%;
        order: 1;
    }

    .experience > .mainElement > p {
        margin-left: 0;
    }
}

@media screen and (max-width:650px) {
    .achievementsAndImages > span {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .experience > .mainElement {
        flex-direction: column;
    }

    .achievementsAndImages > .mainElement > .images > img {
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-width:510px) {
    .fbPost {
        width: 100%;
    }
    
    .communication > div > span:nth-child(8) > a > img {
        width: 70%;
        height: auto;
    }

    .fbPost > img {
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width:350px) {
    .experience > .mainElement > span > img {
        width: 100%;
        height: auto;
    }
}